*{
    margin: 50px ;
    background-color : #e8eae8;
    color: #5d665b ;
}
body{
   margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 50px;
    font-family: Verdana, Geneva, Arial, sans-serif ;
    font-size: small;
    line-height: 180%;
}